:root {
  --fuente-principal: "Ysabeau SC", serif;
  --fuente-secundaria: "Poiret One", serif;
  --fuente-handmade: "Reenie Beanie", serif;
}

/* Clases para Aplicar Fuentes */
.Ysabeau-SC {
  font-family: var(--fuente-principal);
  font-weight: lighter;
  font-style: normal;
}

.poiret-one-regular {
  font-family: var(--fuente-secundaria);
  font-weight:400;
  font-style: normal;
}


.reenie-beanie {
  font-family: var(--fuente-handmade);
  font-weight: lighter;
}

blockquote {
  quotes: "“" "”" "‘" "’";
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

:root {
  --color1: #2f2f2fe9;
  --color2: #97afa6;
  --color3: #ebe9e5;
  --color4: #b4aa94;
  --color5: #bbb2a1;
  --color6: #3e7b6ee2;
}

* {
  box-sizing: border-box;
  font-family: var(--fuente-principal);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

/* Layout */
.layout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "content content content lateral"
    "footer footer footer footer";
  grid-template-rows: 100px 70px auto auto;
  grid-template-columns: 1fr 1fr 1fr 30%;
}

/* Cabecera */
.header {
  grid-area: header;
  background: linear-gradient(90deg, var(--color2) 10%, var(--color4) 100%);
  text-align: left;
  display: flex;
  justify-content: center;
}

.header h1 {
  font-family: var(--fuente-handmade);
  font-size: 70px;
  font-weight: lighter;
  font-style: oblique;
  line-height: 0.7;
  margin-top: 30px;
  color: var(--color1);
}

/* Barra de Navegación */
.nav {
  grid-area: nav;
  background: linear-gradient(90deg, var(--color2) 10%, var(--color4) 100%);
}
/* Ocultar la barra de navegación en pantallas pequeñas */
.nav ul {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  align-items: center;
  list-style: none;
  transition: transform 0.3s ease-in-out; /* Añadir transición suave */
  transform: translateY(-100%); /* Ocultar inicialmente fuera de la vista */
}

.nav ul.active {
  display: block; /* Mostrar cuando se active */
  transform: translateY(0);
}

.nav li {
  padding: 10px;
}

.nav a {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 200;
  color: var(--color1);
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

/* Button toggle */
.toggle-btn {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: var(--color3);
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}
.nav a:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: var(--color3);
}

/* Contenido Principal */
.content {
  grid-area: content;
  display: flex;
  min-height: 100vh;
  background: var(--color3);

  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.jumbo {
  position: relative;
  background-color: #ffffffdf;
  padding: 30px;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 63px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  text-align: l;
}

.parrafo {
  padding: 20px;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 10px;
}
.parrafo p {
  margin: 0 auto;
  line-height: 1.5;
}

.articulo-item {
  display: flex;
  width: 90%;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #bcbbbb;
  overflow: hidden;
  background-color: #ffffff42;
  box-shadow: 0 4px 8px rgba(48, 48, 48, 0.1);
 
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
}

 .articulo-item:hover{
  transform: translateY(-2px);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
} 

.articulo-item .mascara {
  width: 50%;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.datos .title {
  color: var(--color6);
  font-size: 27px;
}

.datos .more {
  font-size: 15px;
  font-weight: 200;
  color: var(--color1);
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

.datos .more:hover {
  transform: scale(0.95);
  font-weight: bold;
  color: var(--color6);
}

.articulo-item .mascara img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.mascara p {
  margin: 5px 0;
  font-size: 20px;
  font-family: var(--fuente-handmade);
  color: var(--color6);
}

.articulo-item .datos {
  width: 50%;
  padding: 15px;
}

.articulo-item .datos .description {
  font-size: 17px;
  font-weight: 500;
  color: var(--color1);
  margin-bottom: 20px;
  height: 95px;
  overflow: hidden;
}

.articulo-item .datos .description p, span{
  font-family: var(--fuente-secundaria) !important;
  font-size: 17px !important;
  color: var(--color1)!important;
}

.articulo-item .edit,
.articulo-item .delete {
  background-color: var(--color2); /* Botones de color pastel */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 300ms ease;
}

.articulo-item .edit:hover,
.articulo-item .delete:hover {
  background-color: var(--color1); /* Cambio de color al pasar el cursor */
}

/* Estilos para Formularios Generales */
form {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 16px rgb(255, 255, 255);
  margin: 20px auto;
  width: 80%;
  max-width: 700px;
}

/* Estilos de Inputs y Textareas */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 15px;
  font-family: var(--fuente-secundaria);
  margin-bottom: 15px;
  background-color: #f9fafc;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 17px;
  color: var(--color1);
  outline: none;
  transition: border-color 300ms ease;
}

/* Efecto de enfoque */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: var(--color2);
}

/* Estilos de Etiquetas */
label {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--fuente-principal);
  color: var(--color1);
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

input::placeholder,
textarea::placeholder {
  color: #424242;
  font-family: var(--fuente-secundaria);
  font-size: 17px;
}

/* Contenedor del editor */

/* Forzar la fuente principal en todo el editor */
.ql-editor {
  font-family: var(--fuente-secundaria) !important;
  font-size: 16px;
  line-height: 1.6;
}

.ql-editor strong,
.ql-editor em,
.ql-editor u,
.ql-editor span,
.ql-editor p,
.jumbo p,
.jumbo strong,
.jumbo u,
.jumbo a {
  font-family: var(--fuente-secundaria) !important;
  color: var(--color1) !important;
  font-size: 20px;
}

.ql-editor span[style*="font-size"] {
  font-family: var(--fuente-secundaria) !important;
}

/* Corrección para los encabezados */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  font-family: var(--fuente-secundaria) !important;
}

.ql-container {
  font-family: var(--fuente-secundaria);
  font-size: 16px;
  background: #fff;
  color: #333;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  min-height: 250px;
}

/* Barra de herramientas */
.ql-toolbar {
  border-radius: 10px 10px 0 0;
  background: #f8f8f8;
  border: 2px solid #ccc;
  padding: 8px;
}

/* Iconos de la barra de herramientas */
.ql-toolbar button {
  color: #333;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.ql-toolbar button:hover {
  background: #ddd;
}

/* Botones activos en la barra de herramientas */
.ql-toolbar button.ql-active {
  background: #bbb;
  color: #fff;
}

/* Área de edición */
.ql-editor {
  font-family: var(--fuente-secundaria);
  font-size: 16px;
  line-height: 1.6;
  padding: 10px;
}

/* Placeholder (texto de ayuda) */
.ql-editor::before {
  font-family: var(--fuente-secundaria);
  color: #aaa;
  font-style: italic;
}

/* Estilos personalizados para los bloques de cita */
.ql-editor blockquote,
.jumbo blockquote {
  font-family: var(--fuente-handmade) !important;
  color: var(--color1);
  font-size: 25px;
}

/* Estilos para enlaces */
.ql-editor a,
.jumbo a,
.jumbo em {
  color: var(--color6);
  font-family: var(--fuente-secundaria);
  font-style: oblique;
  text-decoration: 1px solid #3e7b6ee2 underline;
  font-weight: 600;
  transition: all 100ms ease-in;
}

.jumbo a:hover,
.ql-editor a:hover {
  font-weight: bold;
  color: #044e83;
}

h4.autor,
span.fecha {
  font-family: var(--fuente-handmade) !important;
  color: var(--color6) !important;
  font-size: 20px;
}

.ql-editor p {
  font-family: var(--fuente-secundaria);
  font-size: 20px;
}

/* Estilos para el Botón de Enviar */
button[type="submit"],
input[type="submit"],
button[type="button"],
.ver-mas,
.ver-menos {
  background-color: var(--color2);
  color: white;
  width: 100px;
  padding: 12px 15px;
  font-size: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 300ms ease;
}
/* Efecto al pasar el cursor */
button[type="submit"]:hover,
input[type="submit"]:hover,
button[type="button"]:hover,
.ver-mas:hover,
.ver-menos:hover {
  background-color: var(--color1);
}

.form-span,
span {
  font-size: 25px;
  font-family: var(--fuente-secundaria);
  color: var(--color6);
}

.form-group .mascara {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.form-group .mascara img {
  width: 100px;
  height: 100px;
}

/* Estilos para Mensajes de Error o Exito */
.error,
.success {
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

/* Estilos para el Formulario de Búsqueda */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form input[type="text"] {
  width: 80%;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background-color: #f9fafc;
}

.search-form button {
  background-color: var(--color2);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 12px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--color1);
}

/* Estilos para los Formularios de Edición */
.edit-form {
  display: grid;
  gap: 20px;
}

.edit-form .form-group {
  display: flex;
  flex-direction: column;
}

.edit-form .form-group input,
.edit-form .form-group textarea,
.edit-form .form-group select,
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f9fafc;
  transition: border-color 300ms ease;
}

.edit-form .form-group input:focus,
.edit-form .form-group textarea:focus,
.edit-form .form-group select:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  border-color: var(--color2);
}

.edit-form .form-group label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color1);
}

.edit-form button[type="submit"] {
  background-color: var(--color2);
  color: white;
  border-radius: 25px;
  border: none;
  padding: 12px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.edit-form button[type="submit"]:hover {
  background-color: var(--color1);
}

/* Estilos para los Campos de Fecha y Hora */

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.drop-zone:hover {
  border-color: #007bff;
}

.drop-area {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.preview-container {
  margin-top: 10px;
}

.preview-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lateral h2,
.manifiesto h2,
.crear-tittle,
.about .texto-left h2,
.crear-h2 {
  font-size: 25px;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--color6);
}
.ultimos-articulos ul {
  list-style: none;
  text-align: left;
  margin-bottom: 15px;
}

.ultimos-articulos ul li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  transition: all 300ms ease;
}

.ultimos-articulos ul li:hover {
  border-bottom: 1px solid var(--color6);
}

.ultimos-articulos h2 {
  margin-top: 100px;
}

.ultimos-articulos h4 {
  font-size: 17px;
  font-family: var(--fuente-handmade);
  color: var(--color6);
}

/* Estilo para la imagen del artículo */
.articulo-mascara {
  width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}
.articulo-mascara img {
  width: 100%;
  height: 700px;
  object-fit: contain;
  border-radius: 5px;
}
/* Estilo para el estado de "Cargando..." */
.jumbo .loading {
  font-size: 18px;
  color: var(--color1);
  text-align: center;
  font-style: italic;
}

.portada {
  position: relative;
  width: 100%;
  height: 100vh; /* Hace que ocupe toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foto-portada {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.foto-portada .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  filter: drop-shadow(-15px -5px 14px grey);
  object-position: center bottom;
}

.portada blockquote {
  position: absolute;
  top: 8%;
  width: 50%;
  color: white;
  text-transform: uppercase;
  padding: 0 10px;
  text-shadow: 7px 5px 6px rgb(0, 0, 0);
  z-index: 10;
  font-size: 40px;
  font-weight: 200;
}

.manifiesto .button {
  background-color: var(--color2);
  color: white;
  padding: 12px 15px;
  font-size: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
  /* margin-left: 20px; */
  z-index: 10;
  transition: background-color 300ms ease;
}

.manifiesto .button:hover {
  background-color: var(--color1);
}
/*ESTILOS GENERALES*/

body {
  background: #d1defa;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*ESTILOS MANIFIESTO*/

.manifiesto {
  display: flex;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.manifiesto ul {
  width: 70%;
  height: auto;
  list-style: decimal;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: lighter;
}

.manifiesto li {
  font-family: var(--fuente-handmade);
  font-size: 25px;
  color: #3a3a3a;
}

.manifiesto h2 {
  font-size: 30px;
}

.foto-manifiesto {
  width: 50%;
  height: auto;
}

.sobre-nosotras .section {
  padding: 60px 0;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.foto-about .foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.texto-left {
  width: 60%;
  margin: 0 auto;
}

.texto-left p {
  font-family: var(--fuente-secundaria);
  font-size: 20px;
  margin-top: 50px;
  text-align: justify;
  line-height: 1.5;
  color: #131313;
}

.botones .button {
  background-color: var(--color3);
  color: white;
  padding: 12px 15px;
  font-size: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.botones .button a {
  color: white;
  text-decoration: none;
}

.botones .button:hover {
  background-color: var(--color5);
}
.lateral {
  background-color: var(--color3);
  border-left: 1px solid rgb(255, 255, 255);
}

/* Pie de Página */
.footer {
  grid-area: footer;
  background: linear-gradient(90deg, var(--color2) 10%, var(--color4) 100%);
  color: #ffffff;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-left: 25px;
  padding: 10px;
}

.footer .title {
  font-size: 50px;
  font-family: var(--fuente-handmade);
}

.footer h5 {
  font-weight: lighter;
  font-size: 20px;
}

.redes svg {
  margin: 20px;
}

.copy {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 30px;
}

.footer a {
  text-decoration: underline;
  font-weight: 500;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out,
    font-weight 300ms ease-in-out;
}

.copy a {
  text-decoration: none;
}

.footer a:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: var(--color1);
}

.footer ul {
  list-style: none;
  padding: 20px;
}

/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 768px) {
  /* Ajustes generales */
  .layout {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "lateral"
      "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .header h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
  }

  .nav ul {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav ul.active {
    display: block;
    transform: translateY(0);
    margin-left: -20px;
  }

  .toggle-btn {
    margin: 0 auto;
    display: block;
    position: relative;
  }

  .content {
    width: 100%;
    padding: 0px;
  }

  /* Ajustes para la lista del manifiesto */
  .manifiesto ul {
    width: 80%; /* Se ajusta mejor al tamaño de la pantalla */
    padding: 0;
  }

  .manifiesto li {
    font-size: 25px;
    line-height: 1.4;
  }

  /* Ajustes para artículos */
  .articulo-item {
    flex-direction: column; /* Cambiar de fila a columna */
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .articulo-item .mascara,
  .articulo-item .datos {
    width: 100%;
    text-align: center;
  }

  .articulo-item .mascara img {
    width: 100%;
    height: auto;
  }

  .ultimos-articulos ul {
    padding-left: 0px;
    text-align: center;
  }

  .ql-container {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .portada blockquote {
    width: 80%;
    font-size: 28px;
  }

  .header h1 {
    font-size: 40px;
  }

  .manifiesto h2 {
    margin-top: 50px;
  }

  .manifiesto ul {
    font-size: 16px;
  }

  .manifiesto li {
    font-size: 25px;
  }

  .texto-left {
    width: 80%;
  }

  .articulo-item {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 90%;
  }
  .articulo-item .mascara {
    padding-left: 0px;
  }
  .articulo-item .mascara img {
    width: 65%;
    height:200px;
    margin: 0 auto;
  }
  .mascara p {
    font-size: 17px;
  }

  .datos .title {
    font-size: 25px;
  }

  .ultimos-articulos h2 {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .ultimos-articulos ul {
    margin-bottom: 100px;
}

  .ultimos-articulos ul li {
    font-size: 15px;
    line-height: 0.2;
  }

  /* articulo detalle  */
  .jumbo {
    padding: 0px;
    width: 95%;
}


  .jumbo .articulo-mascara img {
    width: 90%;
    height: 100%;
    padding-top: 20px;
  }
  .jumbo h1 {
    font-size: 25px;
    color: var(--color1);
    margin: 0;
  }

  .parrafo {
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.search form {
  padding: 14px;
  margin: 40px  10px 90px 10px;
  width: 95%;
}
  .footer .title {
    font-size: 35px;
    color: var(--color1);
  }

  .footer h5 {
    font-size: 15px;
  }

  .copy {
    font-size: 10px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .footer a {
    font-size: 12px;
  }
}
